build-windows
cmake-build-debug
.idea
.gitignore
.DS_Store
build/
samples/
tests/
init/
init_homogeneous_4/
test/
test_2_cells/
test_4_cells/
test_5_cells/
test_decrease/
test_increase/
data/
data_legacy/
runs/
